*~
.classpath
.gradle/
.project
.settings/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
bin/
build/
eclipse/
forge-*-changelog.txt
src/main/java/com/example

